  .vertical-center {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #imageq-logo {
    width: 272px;
    height: 92px;
  }

  /* FORM */ 
  .form-adjustment {
    margin-top: 50px;
  }

  #id_url{
    width: 500px;
  }

  /* BUTTONS */

  .button-adjustment {
    margin-top: 50px;
  }

  .button-adjustment button {
    background-color: #f2f2f2;
    color: #757575;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
  }

  /* RESULT page*/

  .flex-row {
    display: flex;
    justify-content: center;
  }

  .search-title {
    color: blue;
  }

  .search-link {
    color: green;
  }

  .search-description {
    color: #696969;
  }