{% extends 'base.html' %}
{% load static %}
{% load beautify %}

{% block content %}
  <main class="container-fluid d-flex flex-grow-1 flex-column justify-content-center align-items-center">
    <img src="{% static 'images/rsz_imageq_trans.png' %}" alt="ImageQ Logo" id="imageq-logo" class="img-fluid">
    <div class="mt-5">
    {% if form.url.errors %}
        <div class="alert alert-danger">
          {% for error in form.url.errors %}
            {{ error|escape }}
          {% endfor %}
        </div>
    {% elif form.non_field_errors %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
          {{ error }}
        </div>
      {% endfor %}
    {% endif %}
      {% if form.is_multipart %}
        <form enctype="multipart/form-data" method="post">
      {% else %}
        <form method="post">
      {% endif %}
        {% csrf_token %}
        <div class="form-group">
          <div class="input-group" id="url-div" >
            {{ form.url|add_class:'form-control input-lg' }}
          </div>
          <div class="input-group" id="upload-div" style="display: none;">
            {{ form.image }}
          </div>
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Search!</button>
          </span>
        </div>
        <div class="d-flex flex-row justify-content-end mt-2">
            <select id="inputType" onchange="changeField(this)">
              <option value="url" selected>Image URL
              </option>
              <option value="upload">Upload
              </option>
            </select>
        </div>
      </form>
    </div>
  </main>
{% endblock %}
